.loaderContainer {
    min-height: 100vh;
    margin-top: -70px;
    width: 100%;
    background-color: var(--helper-dark);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loaderContainer p {
    font-size: 3rem;
    color: var(--main-light);
}
.loaderDotsAnimation span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: var(--main-dark);
    margin: 0px 5px;
    background-color: var(--main-light);
}
.loaderDotsAnimation span:nth-child(1) {
    animation: bounce 1s ease-in-out infinite;
}
.loaderDotsAnimation span:nth-child(2) {
    animation: bounce 1s ease-in-out 0.33s infinite;
}
.loaderDotsAnimation span:nth-child(3) {
    animation: bounce 1s ease-in-out 0.66s infinite;
}
@keyframes bounce {
    0%, 75%, 100% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
   }
    25% {
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
        transform: translateY(-20px);
   }
}