.cardDesc{
    min-height: 170px;
}

.cardDesc p{
    margin-bottom: 0;
}

.rocketLink button{
    margin: 0 auto;
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    border: none;
    cursor: pointer;
}

.rocketLink button:hover{
    background-color: silver;
    color: #000;
}